{% macro navbarNav(page) %}
  <div class="collapse navbar-collapse justify-content-center"
       id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        {% if page == "home" %}
          <span class="nav-link active" aria-current="page">Home</span>
        {% else %}
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if page == "config" %}
          <span class="nav-link active" aria-current="page">Config</span>
        {% else %}
          <a class="nav-link" href="{{ url_for('config.index') }}">Config</a>
        {% endif %}
      </li>
    </ul>
  </div>
{% endmacro %}

{% macro toast(id) %}
  <div id="{{ id }}"
       class="toast align-items-center"
       role="alert"
       aria-live="polite"
       aria-atomic="true"
       data-bs-autohide="true"
       data-bs-delay="5000">
    <div class="d-flex">
      <div class="toast-body fw-medium"></div>
      <button type="button"
              class="btn-close me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"></button>
    </div>
  </div>
{% endmacro %}

{% macro section(name) %}
  <section id="{{ name }}-section" class="mb-4">
    {{ caller() }}
  </section>
{% endmacro %}

{% macro submit_button(text, action, style, class="") %}
  <button type="submit"
          id="{{ action }}-sub"
          class="btn fw-medium {{ style }} {{ class }}"
          name="action"
          value="{{ action }}">{{ text }}</button>
{% endmacro %}

{% macro input(label, name, value, placeholder, required, button_text, action, size="", type="text", label_class="", error=None) %}
  {% set has_button = button_text and action %}
  <div class="col">
    <label for="{{ name }}" class="form-label {{ label_class }}">{{ label }}</label>
    <input type="{{ type }}"
           id="{{ name }}"
           class="form-control text-bg-light border border-0 {{ size }} {% if has_button %}mb-3{% endif %}"
           name="{{ name }}"
           value="{{ value }}"
           placeholder="{{ placeholder }}"
           {% if type == "number" %}step="any"{% endif %}
           {% if required %}required{% endif %}>
    {% if has_button %}{{ submit_button(button_text, action, 'btn-primary') }}{% endif %}
  </div>
  {% if error %}<div id="{{ name }}-error" class="alert alert-danger mt-3" role="alert">{{ error|e }}</div>{% endif %}
{% endmacro %}

{% macro select(label, name, selected, options) %}
  <div class="col">
    <label for="{{ name }}" class="form-label fw-medium">{{ label }}</label>
    <select id="{{ name }}"
            class="form-select form-select-sm text-bg-light border border-0 "
            name="{{ name }}">
      {% if options[0]|length == 3 %}
        {% for op_value, option, enabled in options %}
          <option value="{{ op_value }}"
                  {% if not enabled %}disabled{% endif %}
                  {% if op_value == selected %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      {% else %}
        {% for op_value, option in options %}
          <option value="{{ op_value }}"
                  {% if op_value == selected %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      {% endif %}
    </select>
  </div>
{% endmacro %}

{% macro list_group(input_name, items, name_prefix='') %}
  <ul class="list-group col">
    {% for item in items %}
      <li class="list-group-item text-bg-light">
        <input id="{{ name_prefix }}{{ item }}"
               class="form-check-input me-1"
               type="checkbox"
               name="{{ input_name }}"
               value="{{ item }}" />
        <label class="form-check-label stretched-link"
               for="{{ name_prefix }}{{ item }}">{{ item }}</label>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro list_group_text(input_name, items, name_prefix='') %}
  <ul class="list-group col">
    {% for item in items %}
      <li class="list-group-item bg-secondary-subtle text-black border border-0 px-2 py-2">
        <div class="col mb-1">
          <input id="{{ name_prefix }}{{ item }}"
                 class="form-check-input me-1"
                 type="checkbox"
                 name="{{ input_name }}"
                 value="{{ item }}" />
          <label class="form-check-label" for="{{ name_prefix }}{{ item }}">{{ item }}</label>
        </div>
        <input id="label-{{ name_prefix }}{{ item }}"
               class="form-control form-control-sm"
               type="text"
               name="label-{{ item }}"
               placeholder="Label for {{ item }}"
               disabled />
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro input_list(size, items, list_name, item_name) %}
  <ul class="list-group">
    {% for i in range(size) %}
      {% set item = items[i] %}
      <li class="list-group-item bg-secondary-subtle border-0 p-1">
        <div class="input-group input-group-sm">
          <label class="input-group-text text-bg-secondary"
                 for="{{ list_name }}-{{ i }}">{{ item_name }} {{ i }}</label>
          <input id="{{ list_name }}-{{ i }}"
                 type="number"
                 class="form-control form-control-sm text-bg-light"
                 name="{{ list_name }}-list"
                 value="{{ item }}">
        </div>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
