{% extends "__base__.jinja" %}
{% from "__macros__.jinja" import navbarNav, toast, section, submit, button, input, select %}

{% block title %}
  Geração
{% endblock title %}

{% block navbarNav %}
  {{ navbarNav("generation") }}
{% endblock navbarNav %}

{% block content %}
  <form id="form">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      {{ toast("input-config") }}
      {{ toast("output-config") }}
      {{ toast("generate-graphs") }}
      {{ toast("export-results") }}
    </div>

    {% call section("base-directory") %}
      {{ input(label="<h2>Diretório Base:</h2>",
            name="base-directory", value=base_directory,
            placeholder="Informe o caminho do diretório base",
            button_text="Carregar Diretório", action="load-directory",
            indent=true,
            error=base_dir_error) 
      }}
    {% endcall %}

    {% if base_directory and not base_dir_error %}
      {% call section("config") %}
        <div class="row">
          {{ input(label="<h2>Arquivo de Configuração de Entrada:</h2>",
                    name="input-config", value=input_config,
                    placeholder="Informe o caminho do arquivo de configuração de entrada", required=false,
                    button_text="Carregar Configuração", action="load-config",
                    indent=true) 
          }}
          {{ input(label="<h2>Arquivo de Configuração de Saída:</h2>",
                    name="output-config", value=output_config,
                    placeholder="Informe o caminho do arquivo de configuração de saída", required=false,
                    button_text="Salvar Configuração", action="save-config",
                    indent=true) 
          }}
        </div>
      {% endcall %}
    {% else %}
      {% call section("config") %}
        <input type="text"
               id="input-config"
               name="input-config"
               value="{{ input_config }}"
               hidden>
        <input type="text"
               id="output-config"
               name="output-config"
               value="{{ output_config }}"
               hidden>
      {% endcall %}
    {% endif %}

    {% if base_directory and not base_dir_error and directories %}
      {% call section("directories") %}
        <h2 class="mb-3">Lista de Diretórios de Simulação:</h2>

        <div class="mx-4">
          <div class="mb-3">
            <ul class="list-group col">
              {% for dir in directories %}
                <li class="list-group-item bg-secondary-subtle text-black border border-0 px-2 py-2">
                  <div class="col mb-1">
                    <input id="{{ dir }}"
                           class="form-check-input me-1"
                           type="checkbox"
                           name="directory-list"
                           value="{{ dir }}" />
                    <label class="form-check-label" for="{{ dir }}">{{ dir }}</label>
                  </div>
                  <input id="label-{{ dir }}"
                         class="form-control form-control-sm"
                         type="text"
                         name="label-{{ dir }}"
                         placeholder="Rótulo para {{ dir }}"
                         disabled />
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="btn-group" role="group" aria-label="Ações de Diretório">
            {{ button('Selecionar Todos', 'select-all-directories', 'btn-outline-secondary', class="me-2") }}
            {{ button('Desmarcar Todos', 'deselect-all-directories', 'btn-outline-secondary') }}
          </div>
        </div>
      {% endcall %}
    {% endif %}

    {% if base_directory and not base_dir_error and grouped_metrics %}
      {% call section("metrics") %}
        <h2 class="mb-3">Lista de Métricas:</h2>
        <div class="mx-4">
          <div class="btn-group mb-3 w-100"
               role="group"
               aria-label="Tipo de Métrica">
            <input type="radio"
                   class="btn-check"
                   name="metric-type"
                   id="radio-individual"
                   value="individual"
                   autocomplete="off"
                   {% if metric_type == "individual" %}checked{% endif %}>
            <label class="btn btn-outline-primary fw-medium" for="radio-individual">Individual</label>
            <input type="radio"
                   class="btn-check"
                   name="metric-type"
                   id="radio-grouped"
                   value="grouped"
                   autocomplete="off"
                   {% if metric_type == "grouped" %}checked{% endif %}>
            <label class="btn btn-outline-primary fw-medium" for="radio-grouped">Agrupada</label>
          </div>
          <input id="previous-metric-type"
                 type="hidden"
                 name="previous-metric-type"
                 value="{{ metric_type }}">
          <div class="accordion accordion-flush" id="accordion">
            {% for metric_group, metric_list in grouped_metrics.items() %}
              <div class="accordion-item bg-dark border-0">
                <h3 class="accordion-header bg-dark">
                  <button id="{{ metric_group }}-header"
                          class="accordion-button text-bg-dark shadow-none fw-medium fs-5 pt-0 pb-3 px-0 collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#{{ metric_group }}"
                          aria-expanded="false"
                          aria-controls="{{ metric_group }}">{{ metric_group }}</button>
                </h3>
                <div id="{{ metric_group }}"
                     class="accordion-collapse collapse bg-dark pt-0 pb-3 mx-4">
                  <div class="accordion-body p-0 pb-2">
                    <ul class="list-group col">
                      {% for metric in metric_list %}
                        <li class="list-group-item bg-secondary-subtle text-black border-0">
                          <input id="{{ metric_group }}-{{ metric }}"
                                 class="form-check-input me-1"
                                 type="checkbox"
                                 name="metric-list"
                                 value="{{ metric }}" />
                          <label class="form-check-label stretched-link"
                                 for="{{ metric_group }}-{{ metric }}">{{ metric }}</label>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="btn-group p-0" role="group" aria-label="Ações de Métricas">
                    {{ button('Selecionar Todas do Grupo', 'select-all-' ~ metric_group, 'btn-outline-secondary', class="me-2") }}
                    {{ button('Desmarcar Todas do Grupo', 'deselect-all-' ~ metric_group, 'btn-outline-secondary') }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="btn-group" role="group" aria-label="Ações de Métricas">
            {{ button('Selecionar Todas', 'select-all-metrics', 'btn-outline-secondary', class="me-2") }}
            {{ button('Desmarcar Todas', 'deselect-all-metrics', 'btn-outline-secondary') }}
          </div>
        </div>
      {% endcall %}
    {% endif %}

    {% if base_directory and not base_dir_error %}
      {% call section("graph") %}
        <h2 class="mb-3">Geração de Gráficos:</h2>
        <div class="col mx-4">
          <div class="row mb-2">
            {{ select(label="Tipo de Gráfico:",
                        name="graph-type",
                        selected=graph_type,
                        options=[
                        ["linear", "Linha (Linear)"],
                        ["log", "Linha (Logarítmico)"],
                        ["bar", "Barra"],
                        ["stacked", "Barra Empilhada"],
                        ]) }}
            {{ select(label="Exibir Grade:",
                        name="use-grid",
                        selected=use_grid,
                        options=[
                        ["true", "Sim"],
                        ["false", "Não"]
                        ]) }}
          </div>
          <div class="row mb-2">
            {{ select(label="Linguagem:",
                        name="language",
                        selected=language,
                        options=[
                        ["pt", "Português"],
                        ["en", "Inglês"],
                        ]) }}
            {{ select(label="Sobrescrever Arquivos:",
                        name="overwrite",
                        selected=overwrite,
                        options=[
                        ["true", "Sim"],
                        ["false", "Não"]
                        ]) }}
          </div>
          <div class="row mb-2">
            {{ input(label="Limite Inferior do Eixo Y (Opcional):",
                        name="ylim-low", value=ylim_low,
                        placeholder="Informe o limite inferior do eixo Y", size="form-control-sm",
                        type="number", step="any", label_class="fw-medium") }}
            {{ select(label="Sentido do Eixo X:",
                        name="x-axis-direction",
                        selected=x_axis_direction,
                        options=[
                        ["horizontal", "Horizontal (Padrão)"],
                        ["vertical", "Vertical"]
                        ]) }}
          </div>
          <div class="row mb-2">
            {{ input(label="Título do Gráfico (Opcional):",
                        name="title", value=title,
                        placeholder="Informe o título do gráfico", size="form-control-sm", type="text", label_class="fw-medium") }}
            {{ input(label="Rótulo do Eixo X (Opcional):",
                        name="xlabel", value=xlabel,
                        placeholder="Informe o rótulo do eixo X", size="form-control-sm", type="text", label_class="fw-medium") }}
            {{ input(label="Rótulo do Eixo Y (Opcional):",
                        name="ylabel", value=ylabel,
                        placeholder="Informe o rótulo do eixo Y", size="form-control-sm", type="text", label_class="fw-medium") }}
          </div>
          <div class="row mb-2">
            {{ select(label="Exibir Moldura da Legenda:",
                        name="frameon",
                        selected=frameon,
                        options=[
                        ["true", "Sim"],
                        ["false", "Não"]
                        ]) }}
            {{ input(label="Máximo de Colunas da Legenda (Padrão: 5):",
                        name="max-columns", value=max_columns,
                        placeholder="Informe o número máximo de colunas da legenda", size="form-control-sm", type="number", step="1", min="1", label_class="fw-medium") }}
          </div>
          <div class="row mb-2">
            {{ select(label="Tamanho da Fonte do Gráfico:",
                        name="graph-font-size",
                        selected=graph_fontsize,
                        options=[
                        ["xx-small", "XX-Pequeno"],
                        ["x-small", "X-Pequeno"],
                        ["small", "Pequeno"],
                        ["medium", "Médio (Padrão)"],
                        ["large", "Grande"],
                        ["x-large", "X-Grande"],
                        ["xx-large", "XX-Grande"],
                        ]) }}
            {{ select(label="Tamanho da Fonte da Legenda:",
                        name="legend-font-size",
                        selected=legend_fontsize,
                        options=[
                        ["xx-small", "XX-Pequeno"],
                        ["x-small", "X-Pequeno"],
                        ["small", "Pequeno"],
                        ["medium", "Médio (Padrão)"],
                        ["large", "Grande"],
                        ["x-large", "X-Grande"],
                        ["xx-large", "XX-Grande"],
                        ]) }}
          </div>
          <div class="row mb-2">
            {{ input(label='Largura da Figura (Padrão: 10"):',
                        name="figure-width", value=figure_width,
                        placeholder="Informe a largura em polegadas", size="form-control-sm", type="number", label_class="fw-medium") }}
            {{ input(label='Altura da Figura (Padrão: 5"):',
                        name="figure-height", value=figure_height,
                        placeholder="Informe a altura em polegadas", size="form-control-sm", type="number", label_class="fw-medium") }}
          </div>
          <div class="row mb-2">
            {{ select(label="Posição da Legenda:",
                        name="legend-position",
                        selected=legend_position,
                        options=[
                        ["none", "Nenhuma (Não exibir legenda)"],
                        ["upper left", "Superior Esquerda"],
                        ["upper center", "Superior Centro (Padrão)"],
                        ["upper right", "Superior Direita"],
                        ["center left", "Centro Esquerda"],
                        ["center", "Centro"],
                        ["center right", "Centro Direita"],
                        ["lower left", "Inferior Esquerda"],
                        ["lower center", "Inferior Centro"],
                        ["lower right", "Inferior Direita"]
                        ]) }}
            {{ input(label="Âncora X (Padrão: 0.5):",
                        name="anchor-x", value=anchor_x,
                        placeholder="Informe a posição X da âncora", size="form-control-sm", type="number", label_class="fw-medium") }}
            {{ input(label="Âncora Y (Padrão: -0.15):",
                        name="anchor-y", value=anchor_y,
                        placeholder="Informe a posição Y da âncora", size="form-control-sm", type="number", label_class="fw-medium") }}
          </div>
          <div class="row mb-2">
            <div class="col">
              <div class="form-check form-switch d-flex align-items-center">
                <input class="form-check-input me-2"
                       type="checkbox"
                       id="use-custom-loads"
                       name="use-custom-loads"
                       value="true"
                       {% if use_custom_loads %}checked{% endif %}>
                <label class="form-check-label fw-medium" for="use-custom-loads">Usar Cargas Personalizadas</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              {% if use_custom_loads %}
                <div class="fw-medium mb-2">Cargas Personalizadas:</div>
                <ul class="list-group">
                  {% set digits = load_count|string|length %}
                  {% for i in range(load_count) %}
                    {% set load = loads[i|string] %}
                    {% set i_str = "%0{}d".format(digits) % i %}
                    <li class="list-group-item bg-secondary border-0 p-1">
                      <div class="input-group input-group-sm">
                        <label class="input-group-text bg-secondary-subtle text-dark"
                               for="load-{{ i }}">Carga {{ i_str }}</label>
                        <input id="load-{{ i }}"
                               type="number"
                               class="form-control form-control-sm text-bg-light"
                               step="any"
                               name="load-list"
                               value="{{ load }}">
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                {{ input(label='Filtro de Pontos de Carga:',
                                name="load-points-filter", value=load_points_filter,
                                placeholder="Informe os pontos de carga ou deixe vazio para usar todos (Ex: 0-3,4,5-6)", size="form-control-sm", type="text", label_class="fw-medium") }}
              {% endif %}
            </div>
          </div>
          <div class="btn-group" role="group" aria-label="Ações de Gráfico">
            {{ submit('Gerar Gráficos', 'generate-graphs', 'btn-primary', class="me-2") }}
            {{ submit('Exportar Resultados', 'export-results', 'btn-primary') }}
          </div>
        </div>
      {% endcall %}
    {% endif %}
  </form>

  {% if debug_output %}
    {% call section("debug") %}
      <h2>Saída de Depuração:</h2>
      <pre id="debug-output" class="text-bg-secondary p-3">{{ debug_output }}</pre>
    {% endcall %}
  {% endif %}
{% endblock content %}
{% block scripts %}
  <script src="{{ url_for('static', filename='mainForm.js') }}"></script>
  {% if has_config_data %}<script>
    document.addEventListener("DOMContentLoaded", loadConfig);
</script>{% endif %}

{% endblock scripts %}
