{% extends "__base__.jinja" %}
{% from "__macros__.jinja" import navbarNav %}

{% block title %}
  Início
{% endblock title %}

{% block navbarNav %}
  {{ navbarNav("home") }}
{% endblock navbarNav %}

{% block content %}
  <div class="container">
    <h2>Bem-vindo ao Painel SAFS</h2>
    <p class="lead">Este painel fornece uma visão geral das métricas e configurações da simulação.</p>
    <p>Use a barra de navegação para explorar diferentes seções.</p>
  </div>

  <div class="container mt-5">
    <h2>Primeiros Passos</h2>
    <p>
      Para começar, acesse a seção <a href="{{ url_for('generation.index') }}">Geração</a> para gerar gráficos e exportar resultados baseados nas configurações fornecidas.
    </p>
    <p>Em seguida, você pode gerar gráficos e exportar resultados usando as opções disponíveis.</p>
    <p>
      Para mais detalhes, consulte o <a href="{{ url_for('tutorial.index') }}">Tutorial</a>.
    </p>
  </div>
{% endblock content %}
