{% macro navbarNav(page) %}
  <div class="collapse navbar-collapse d-flex justify-content-between"
       id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        {% if page == "index" %}
          <span class="nav-link active" aria-current="page">Home</span>
        {% else %}
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if page == "metrics" %}
          <span class="nav-link active" aria-current="page">Metrics</span>
        {% else %}
          <a class="nav-link" href="{{ url_for('metrics.metrics_index') }}">Metrics</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {# {% if page == "graphs" %}
          <span class="nav-link active" aria-current="page">Graphs</span>
        {% else %}
          <a class="nav-link" href="{{ url_for('graphs.graphs_index') }}">Graphs</a>
        {% endif %} #}
        <a class="nav-link disabled" aria-disabled="true">Graphs</a>
      </li>
    </ul>
    <form id="navbar-form" class="d-flex">
      {{ submit_button('Clear Session', 'clear-session', 'btn-outline-danger') }}
    </form>
  </div>
{% endmacro %}

{% macro section(name) %}
  <section id="{{ name }}-section" class="mb-4">
    {{ caller() }}
  </section>
{% endmacro %}

{% macro submit_button(text, action, style, class="") %}
  <button type="submit"
          id="{{ action }}-sub"
          class="btn {{ style }} {{ class }}"
          name="action"
          value="{{ action }}">{{ text }}</button>
{% endmacro %}

{% macro input_text(label, name, value, placeholder, required, button_text, action, type="text", label_class="", error=None) %}
  {% set has_button = button_text and action %}
  <div class="col">
    <label for="{{ name }}" class="form-label {{ label_class }}">{{ label }}</label>
    <input type="{{ type }}"
           id="{{ name }}"
           class="form-control {% if has_button %}mb-3{% endif %}"
           name="{{ name }}"
           value="{{ value }}"
           placeholder="{{ placeholder }}"
           {% if type == "number" %}step="any"{% endif %}
           {% if required %}required{% endif %}>
    {% if has_button %}{{ submit_button(button_text, action, 'btn-primary') }}{% endif %}
  </div>
  {% if error %}<div id="{{ name }}-error" class="alert alert-danger mt-3" role="alert">{{ error|e }}</div>{% endif %}
{% endmacro %}

{% macro select(label, name, selected, options) %}
  <div class="col">
    <label for="{{ name }}" class="form-label fw-bold">{{ label }}</label>
    <select id="{{ name }}" class="form-select" name="{{ name }}">
      {% if options[0]|length == 3 %}
        {% for op_value, option, enabled in options %}
          <option value="{{ op_value }}"
                  {% if not enabled %}disabled{% endif %}
                  {% if op_value == selected %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      {% else %}
        {% for op_value, option in options %}
          <option value="{{ op_value }}"
                  {% if op_value == selected %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      {% endif %}
    </select>
  </div>
{% endmacro %}

{% macro list_group(input_name, items, name_prefix='') %}
  <ul class="list-group col">
    {% for item in items %}
      <li class="list-group-item text-bg-light">
        <input id="{{ name_prefix }}{{ item }}"
               class="form-check-input me-1"
               type="checkbox"
               name="{{ input_name }}"
               value="{{ item }}" />
        <label class="form-check-label stretched-link"
               for="{{ name_prefix }}{{ item }}">{{ item }}</label>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro list_group_text(input_name, items, labels, name_prefix='') %}
  <ul class="list-group col">
    {% for item in items %}
      <li class="list-group-item text-bg-light">
        <div class="col mb-1">
          <input id="{{ name_prefix }}{{ item }}"
                 class="form-check-input me-1"
                 type="checkbox"
                 name="{{ input_name }}"
                 value="{{ item }}" />
          <label class="form-check-label" for="{{ name_prefix }}{{ item }}">{{ item }}</label>
        </div>
        <input id="label-{{ name_prefix }}{{ item }}"
               class="form-control form-control-sm"
               type="text"
               name="label-{{ item }}"
               placeholder="Label for {{ item }}"
               value="{{ labels[item] if labels[item] else '' }}" />
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro metrics_accordion(grouped_metrics, config_data) %}
  <div class="accordion mb-3" id="accordion">
    {% for metric_group, metric_list in grouped_metrics.items() %}
      <div class="accordion-item">
        <h3 class="accordion-header">
          <button id="{{ metric_group }}-but"
                  class="accordion-button text-bg-secondary collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#{{ metric_group }}"
                  aria-expanded="false"
                  aria-controls="{{ metric_group }}">{{ metric_group }}</button>
        </h3>
        <div id="{{ metric_group }}"
             class="accordion-collapse collapse bg-dark-subtle">
          <div class="accordion-body p-2">
            {% if config_data and config_data["metrics"] %}
              {# Extrair depois #}
              {% set metric_script %}
                <script>
                    var metric_group_but = document.getElementById("{{ metric_group }}-but");
                    metric_group_but.classList.remove("collapsed");
                    metric_group_but.ariaExpanded = "true";
                    document.getElementById("{{ metric_group }}").classList.add("show");
                </script>
              {% endset %}
              {{ list_group(input_name="metric-list",
                            items=metric_list,
                            checked_items=config_data["metrics"][metric_group],
                            script=metric_script) 
              }}
            {% else %}
              {{ list_group("metric-list", metric_list) }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
