<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metrics - SAFS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>

<body class="p-4 text-bg-dark">
  <header class="text-center">
    <h1>Metrics</h1>
  </header>

  <form id="form" action="{{ url_for('choose_metrics') }}" method="post">
    <section id="base-directory-section">
      <div class="col">
        <label for="base-directory" class="form-label">
          <h2>Base Directory:</h2>
        </label>
        <input type="text" id="base-directory" class="form-control mb-3" name="base-directory"
          value="{{ base_directory }}" required>
        <button type="submit" class="btn btn-primary" name="action" value="get-metrics">Get Metrics</button>
      </div>
      {% if base_dir_error %}
      <div class="alert alert-danger mt-3" role="alert">
        {{ base_dir_error }}
      </div>
      {% endif %}
    </section>

    {% if base_directory and not base_dir_error %}
    <section id="input-config-section" class="mt-4">
      <div class="col">
        <label for="input-config" class="form-label">
          <h2>Input Configuration File (Optional):</h2>
        </label>
        <input type="text" id="input-config" class="form-control mb-3" name="input-config" value="{{ input_config }}"
          placeholder="Enter input configuration file path">
        <button type="submit" class="btn btn-primary" name="action" value="load-config">Load Configuration</button>
      </div>
      {% if input_config_error %}
      <div class="alert alert-danger mt-3" role="alert">
        {{ input_config_error }}
      </div>
      {% endif %}
    </section>

    <section id="output-config-section" class="mt-4">
      <div class="col">
        <label for="output-config" class="form-label">
          <h2>Output Configuration File (Optional):</h2>
        </label>
        <input type="text" id="output-config" class="form-control mb-3" name="output-config" value="{{ output_config }}"
          placeholder="Enter output configuration file path">
        <button type="submit" class="btn btn-primary" name="action" value="save-config">Save Configuration</button>
      </div>
    </section>
    {% else %}
    <input type="text" name="input-config" value="{{ input_config }}" hidden>
    <input type="text" name="output-config" value="{{ output_config }}" hidden>
    {% endif %}

    {% if simulation_directories %}
    <section id="simulation-directories-section" class="mt-4">
      <h2>Simulation Directories List:</h2>
      <ul class="list-group">
        {% if config_data and config_data["directories"] %}
        {% for sim_dir in simulation_directories %}
        <li class="list-group-item text-bg-light">
          <input id="{{ sim_dir }}" class="form-check-input me-1" type="checkbox" name="{{ sim_dir }}"
            value="{{ sim_dir }}" {% if sim_dir in config_data["directories"] %}checked{% endif %}>
          <label class="form-check-label stretched-link" for="{{ sim_dir }}">
            {{ sim_dir }}
          </label>
        </li>
        {% endfor %}
        {% else %}
        {% for sim_dir in simulation_directories %}
        <li class="list-group-item text-bg-light">
          <input id="{{ sim_dir }}" class="form-check-input me-1" type="checkbox" name="{{ sim_dir }}"
            value="{{ sim_dir }}">
          <label class="form-check-label stretched-link" for="{{ sim_dir }}">
            {{ sim_dir }}
          </label>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </section>
    {% endif %}

    {% if grouped_metrics %}
    <section id="metrics-section" class="mt-4">
      <h2>Metrics List:</h2>
      <div class="accordion mb-3" id="accordion">
        {%for metric_group, metric_list in grouped_metrics.items() %}
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button id="{{ metric_group }}-but" class="accordion-button text-bg-secondary collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#{{ metric_group }}" aria-expanded="false"
              aria-controls="{{ metric_group }}">
              {{ metric_group }}
            </button>
          </h3>

          <div id="{{ metric_group }}" class="accordion-collapse collapse bg-dark-subtle">
            <div class="accordion-body p-2">
              <ul class="list-group">
                {% if config_data and config_data["metrics"] %}
                {% for metric in metric_list %}
                <li class="list-group-item text-bg-light">
                  {% if metric in config_data["metrics"][metric_group] %}
                  <input id="{{ metric }}" class="form-check-input me-1" type="checkbox" name="metric-list"
                    value="{{ metric }}" checked>
                  <script>
                    var metric_group_but = document.getElementById("{{ metric_group }}-but");
                    metric_group_but.classList.remove("collapsed");
                    metric_group_but.ariaExpanded = "true";
                    document.getElementById("{{ metric_group }}").classList.add("show");
                  </script>
                  {% else %}
                  <input id="{{ metric }}" class="form-check-input me-1" type="checkbox" name="{{ metric }}"
                    value="{{ metric }}">
                  {% endif %}
                  <label class="form-check-label stretched-link" for="{{ metric }}">
                    {{ metric }}
                  </label>
                </li>
                {% endfor %}
                {% else %}
                {% for metric in metric_list %}
                <li class="list-group-item text-bg-light">
                  <input id="{{ metric }}" class="form-check-input me-1" type="checkbox" name="{{ metric }}"
                    value="{{ metric }}">
                  <label class="form-check-label stretched-link" for="{{ metric }}">
                    {{ metric }}
                  </label>
                </li>
                {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    {% endif %}
  </form>

  <section id="output-section" class="mt-4">
    <h2>Output:</h2>
    <pre id="output" class="text-bg-secondary p-3"></pre>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>
  <script>
    const form = document.getElementById("form");
    const submitter = document.querySelector("button[value=save-config]");
    const formData = new FormData(form, submitter);

    const output = document.getElementById("output");
    console.log(formData);

    for (const [key, value] of formData) {
      output.textContent += `${key}: ${value}\n`;
    }
  </script>
</body>

</html>