{% extends "base.jinja" %}
{% block title %}
  Home
{% endblock title %}
{% block header %}
  Welcome to SAFS
{% endblock header %}
{% block content %}
  <ul class="list-group">
    <li class="list-group-item">
      <a href="{{ url_for('metrics.metrics_index') }}">
        <h2>Metrics</h2>
      </a>
    </li>
  </ul>
{% endblock content %}
