{% extends "base.jinja" %}
{% from "macros.jinja" import input, section, list_group, metrics_accordion %}

{% block title %}
  Metrics
{% endblock title %}
{% block header %}
  Metrics
{% endblock header %}
{% block content %}
  <form id="form">
    {% call section("base-directory") %}
      {{ input(label="Base Directory:",
            name="base-directory", value=base_directory,
            placeholder="Enter base directory path", required=true,
            button_text="Get Metrics", action="get-metrics",
            error=base_dir_error) 
      }}
    {% endcall %}

    {% if base_directory and not base_dir_error %}
      {% call section("input-config") %}
        {{ input(label="Input Configuration File (Optional):",
                name="input-config", value=input_config,
                placeholder="Enter input configuration file path", required=false,
                button_text="Load Configuration", action="load-config") 
        }}
      {% endcall %}
      {% call section("output-config") %}
        {{ input(label="Output Configuration File (Optional):",
                name="output-config", value=output_config,
                placeholder="Enter output configuration file path", required=false,
                button_text="Save Configuration", action="save-config") 
        }}
      {% endcall %}
    {% else %}
      <input type="text" name="input-config" value="{{ input_config }}" hidden>
      <input type="text" name="output-config" value="{{ output_config }}" hidden>
    {% endif %}

    {% if directories %}
      {% call section("directories") %}
        <h2>Simulation Directories List:</h2>
        {{ list_group("directory-list", directories) }}
      {% endcall %}
    {% endif %}

    {% if grouped_metrics %}
      {% call section("metrics") %}
        <h2>Metrics List:</h2>
        <div class="accordion mb-3" id="accordion">
          {% for metric_group, metric_list in grouped_metrics.items() %}
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button id="{{ metric_group }}-btn"
                        class="accordion-button text-bg-secondary collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ metric_group }}"
                        aria-expanded="false"
                        aria-controls="{{ metric_group }}">{{ metric_group }}</button>
              </h3>
              <div id="{{ metric_group }}"
                   class="accordion-collapse collapse bg-dark-subtle">
                <div class="accordion-body p-2">{{ list_group("metric-list", metric_list) }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endcall %}
    {% endif %}
  </form>

  {% if debug_output %}
    {% call section("debug") %}
      <h2>Debug Output:</h2>
      <pre id="debug-output" class="text-bg-secondary p-3">{{ debug_output }}</pre>
    {% endcall %}
  {% endif %}
{% endblock content %}
{% block scripts %}
  <script src="{{ url_for('static', filename='forms.js') }}"></script>
  {% if has_config_data %}<script>
    document.addEventListener("DOMContentLoaded", loadConfig);
</script>{% endif %}

{% endblock scripts %}
